<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="renameFile" version="1.5">
	
	<requires>
	  <import plugin-id="net.sf.jabref.core"/>
	</requires>
	
	<!-- Will load code and resources from the home folder -->
	<runtime>
	  <library type="code" path="./" id="code"/>
	  <library type="resources" path="./" id="resouces"/>
	</runtime>
	
	<extension id="RenameFilePlugin" plugin-id="net.sf.jabref.core" point-id="SidePanePlugin">
	  <parameter id="sidePanePlugin" value="renamefile.RenameFilePlugin" />
	  <parameter id="name" value="Rename file panel" />
	  <parameter id="description" value="Move/copy/delete files attached to the bibliography items." />
	</extension>
	
</plugin>
